

/* bar styling */
/* #top-bar, #bottom-bar {
    background-color: #620008;
    border-bottom: solid #000 8px;
}
        
#top-bar .container,
#bottom-bar .container {
    background-image: url("../img/red-bar.jpg");
    background-size: 100% 100%; 
    height: 76px;
}

#top-bar.internal .container,
#bottom-bar .container-fluid {
    background-image: url("../img/red-bar.jpg");
    background-size: 100% 100%; 
    height: 76px;
    border-bottom:4px solid #fff;
}
    
#top-bar .row {
    line-height: 76px;
} */


/* footer */
.footer-content {
    background-color: #000;
    padding-top: 30px;
    border-top: solid transparent 27px;
    border-image: url("../images/triangle-pattern.png") 38;
    border-image-repeat: round;
}

.footer-h5 {
    text-transform: uppercase;
    color: #F4CE3E;
    font-size: 16px;
}

.footer-li {
    border-bottom:solid #F4CE3E 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none; 
}

.footer-a {
    color:white;
    text-decoration: none;
    padding-left: 10px;
}

.footer-a:hover {
    color:#F4CE3E !important;
    transition: all 0.3s ease-in-out !important;
}

