/* #root {
    background-image: url('./images/Clearwater_River_Home_Page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 } */

#root,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background: rgba(0, 0, 0, 0.466);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Quando';
}

p {
    font-family: 'Lora';
}

h1.title {
    color: #416983;
}
